<div id="menu-selected-box" style="display:none">
	<div class="layer-box01" id="layer-selected-js" style="display:block" {{(el)->el.hammer()}}></div>
	<div {{data 'menuVo'}} class="cert-lay" id="selected-lay-js" style="display:block;bottom:0px;z-index: 15;">
        <div class="header">
            <span class="title">{{name}}</span>
        </div>
		<div class="ow-y" id="selected-ow-y">
            <ul>
                {{#each selectedItems}}
                    <li {{data 'orderItem'}} {{#if deleted}}style="display:none;"{{/if}}>
                        <div class="pr-til">
                            <span>{{trim name}}</span>
                        </div>
                        {{^isDiscount}}
                            <div class="pr-pri">
                                <span>￥{{money price}}</span>
                            </div>
                        {{/isDiscount}}
                        {{#isDiscount}}
                            <div class="pr-pri" style="top:33%;">
                                <span>￥{{price}}</span>
                                <br>
                        <span style="font-size:12px;color:#bcbcbc;text-decoration: line-through;">
                            原价:￥{{originalPrice}}</span>
                            </div>
                        {{/isDiscount}}
                        <div class="pr-num">
                            <div class="but-box selectedMinus" {{(el)->el.hammer()}}>
                                <span class="minus"></span>
                            </div>
                            <span class='num'>{{quantity}}</span>
                            <div class="but-box selectedAdd">
                                <div class="maskOperate"></div>
                                <span class="add"></span>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div style="position:absolute;bottom: 0px;width:100%;display:block;">
            <div class="confirm" style="padding:15px;">
                <div {{(el)->el.hammer()}} class="confirm-button" id="confirm-minus-button">确认</div>
            </div>
        </div>
	</div>
</div>